---
layout: main
---

{% if page.content %}
    {{ content }}
{% endif %}


<div class="container">
    <div class="row">
        <div class="header intro">
            <h1> {{site.name}}</h1>
        </div>
        <div class="profile">
            {% image profile.jpg %}
        </div>
        <div class="about">
            <p>Originally from Detroit, I currently live in San Francisco and I am bulding <a href="https://www.staffjoy.com/">Staffjoy</a>. Staffjoy automatically schedules workers for businesses while decreasing annual labor costs 5-10% from schedules that better fit to business demand. Previously, I worked at <a href="https://www.opendns.com/">OpenDNS</a> where I helped build autonomous research and data delivery systems and also founded the <a href="http://www.meetup.com/openlate">OpenLate Meetup Group</a>. In 2013, I graduated from <a href="http://wustl.edu/">Washington University in St. Louis</a> with majors in Systems Engineering and Electrical Engineering. In my spare time, I <a href="/assets/bike.jpg">cycle</a>, <a href="/assets/ski.jpg">ski</a>, <a href="/assets/hike.jpg">hike</a>, and <a href="https://www.goodreads.com/andhess">read</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="header">
            <h2>Organizations</h2>
        </div>
    </div>
    <div class="row">
        <div class="activities">
            <div class="col-sm-4">
                <div class="logo">
                    {% image staffjoy.png %}
                </div>
                <p><a href="https://www.staffjoy.com">Staffjoy</a> is a company I am building with <a href="https://www.philipithomas.com/">Philip Thomas</a> that automatically schedules workforces and helps businesses save money through more efficient schedules. At its core is proprietary technology for the <a href="http://en.wikipedia.org/wiki/Nurse_scheduling_problem">nurse scheduling problem</a> written in <a href="http://julialang.org/">Julia</a>. This was a side project for a long time, but I have recently decided to work on this full time.</p>
            </div>
            <div class="col-sm-4">
                <div class="logo">
                    {% image opendns.png %}
                </div>
                <p>I worked at <a href="https://www.opendns.com/">OpenDNS</a> for nearly 2 years and spent most of my time building an autonomous research and data delivery system for security events. I gave a <a href="https://www.youtube.com/watch?v=XLaGYl7xZys">presentation</a> on the design and technology of my work at BSidesLV 2015. Common tools include Python, Java, HBase, and Kafka.</p>
            </div>
            <div class="col-sm-4">
                <div class="logo">
                    {% image wustl.png %}
                </div>
                <p>In 2013, I graduated from <a href="http://wustl.edu/">Washington University In St. Louis</a> with majors in Systems Engineering and Electrical Engineering. Some of my research projects included topics of <a href="http://www.andhess.com/cv/assets/pdf/Duggan_Hess_Dec_2013.pdf">quantitative finance</a> and <a href="http://www.andhess.com/charging/">scheduling from queuing theory</a>. I am now an active alumni in the SF Bay Area.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="header">
            <h2>Contact</h2>
        </div>
    </div>
    <div class="row">
        <div class="contact">
            <ul>
                <li>Twitter: <a href="https://twitter.com/andhess">andhess</a></li>
                <li>Email: hello[at]andhess[dot]com</li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        {% include copyright.html %}
    </footer>
</div>
